# Loops
 - for loop
 - while loop

### Print your name ten times
I you are to print your name 10 times without using loop

In [1]:
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")

Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain

A loop helps us to do repeated task efficiently with less code. 
A loop reduces the size of code
A loop allows reuseability of code
A loop structures our code well.

# Iterating a list using a for loop

In [4]:
students = ["Asad","Ali","Daad","Hassan"]

In [7]:
for student in students:#iterate
    print(student.lower())  
# step1: one by one every item in the list wil be assigned to variable student
# step2: it enters in loops body where variable strudent gets printed
# step3: loop agains reacheds to srating point like fetches next items from list

asad
ali
daad
hassan

In [5]:
for char in "Pakistan":
    print(char)

P
a
k
i
s
t
a
n

In [6]:
for num in 5001:
    print(num)

TypeError: 'int' object is not iterable

In [23]:
for a in range(5):
    print(a,"Hello")

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello

In [12]:
for a in range(1,5):
    print(a, "Python")

1 Python
2 Python
3 Python
4 Python

In [15]:
for a in range(1,20,2):#(starting,ending-1,step)
    print(a)

1
3
5
7
9
11
13
15
17
19

In [16]:
for a in range(2,20,2):#(starting,ending-1,step)
    print(a)

2
4
6
8
10
12
14
16
18

In [3]:
for a in range(10,0,-1):
    print(a)

10
9
8
7
6
5
4
3
2
1

# Break , Continue

In [26]:
for a in range(5):
    if a==3:
        break
    print(a)

0
1
2

In [27]:
for a in range(5):
    if a==3:
        continue
    print(a)

0
1
2
4

In [19]:
for student in students:#iterate
    if student.endswith("i"):
        break
    print(student.lower())

asad

In [28]:
for student in students:#iterate
    if student.endswith("i"):
        continue
    print(student.lower())

asad
daad
hassan

In [1]:
for a in range(0,10):
    if a%7==0:
        continue
    print(a)

1
2
3
4
5
6
8
9

In [24]:
for a in range(5):
    if a==3:
        break
    print(a,"Hello")

0 Hello
1 Hello
2 Hello

In [31]:
#i need a list of odd numbers between 1,20
odd = []
for num in range(1,21):
    if num%2!=0:
        odd.append(num)
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [10]:
#i need a list of even numbers between 1,20
evens = []
for num in range(1,21):
    if num%2==0:
        evens.append(num)
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# List Comprehension

In [18]:
#odds list using only if in list comprehension
[a for a in range(1,21) if a%2!=0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [19]:
#evens list using only if in list comprehension
[a for a in range(1,21) if a%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Write a program that takes 5 values from user and classify them as odds and even in odds and evens list

In [20]:
odds =[]
evens= []
for a in range(5):
    num = int(input("Enter a number"))
    if num%2==0:
        evens.append(num)
    else:
        odds.append(num)
        
print(evens,odds)

Enter a number2
Enter a number3
Enter a number4
Enter a number5
Enter a number6
[2, 4, 6] [3, 5]

In [14]:
for a in range(5):
    num = int(input("Enter a number"))
    if num%2==0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

Enter a number3
3 is odd
Enter a number4
4 is even
Enter a number5
5 is odd
Enter a number6
6 is even
Enter a number7
7 is odd

##### Writing if else together in list comprehension

In [17]:
[f"{a} is even" if a%2==0 else f"{a} is odd" for a in range(1,21)]

['1 is odd',
 '2 is even',
 '3 is odd',
 '4 is even',
 '5 is odd',
 '6 is even',
 '7 is odd',
 '8 is even',
 '9 is odd',
 '10 is even',
 '11 is odd',
 '12 is even',
 '13 is odd',
 '14 is even',
 '15 is odd',
 '16 is even',
 '17 is odd',
 '18 is even',
 '19 is odd',
 '20 is even']

In [38]:
fruits = ["mango" if i%3==0 else "orange" for i in range(10)]
print(fruits)

['mango', 'orange', 'orange', 'mango', 'orange', 'orange', 'mango', 'orange', 'orange', 'mango']

Write a program that takes any number of values from user and classify them as odds and even in odds and evens list

In [23]:
# Using split we can take as many input as given by user's wish.
# The inputs will be stored in form of list 
# we can then iterate the list to use in code.

In [22]:
odds =[]
evens= []
nums = input("Enter a number").split(",")
for num in nums:
    
    num = int(num)

    if (num)%2==0:
        evens.append(num)
    else:
        odds.append(num)
print(evens,odds)

Enter a number1,2,3,4,5,6,7
[2, 4, 6] [1, 3, 5, 7]

In [4]:
evens,odds

([2, 4], [1, 3, 5])

In [60]:
nums = input().split(",")

1,2,3,4,5,6,7,8,9,0

In [61]:
nums

['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']

In [59]:
"Pakistan".split("a")

['P', 'kist', 'n']

In [67]:
nums = input().split(",")
for a in nums:
    a = int(a)

ValueError: invalid literal for int() with base 10: ''

# While loop

In [6]:
a=0#12,3,4,5,6,7,8,9,10
while a<10:
    print(a)
    a +=1

0
1
2
3
4
5
6
7
8
9

In [7]:
a=10#987654321
while a>0:
    print(a)
    a -=1

10
9
8
7
6
5
4
3
2
1

In [8]:
guest_list = []
flag = True
while flag:
    guest_name = input("Enter a guest name or press q to exit")
    if guest_name == "q":
        flag =False
    else:
        guest_list.append(guest_name)
guest_list

Enter a guest name or press q to exitHamza
Enter a guest name or press q to exitNasir
Enter a guest name or press q to exitABC
Enter a guest name or press q to exitq

['Hamza', 'Nasir', 'ABC']

# Dictionary

In [13]:
alist = []
atuple = ()
aset={2}
adict = {"name":"SSUET"}

In [14]:
type(aset),type(adict)

(set, dict)

In [15]:
student1 = {'roll':123, "name":'Fahad','course':"AI", "Status":True}

In [16]:
student1['name']

'Fahad'

In [18]:
student1['course']

'AI'

In [19]:
student1['email']="fahad@gmail;.com"

In [20]:
student1

{'roll': 123,
 'name': 'Fahad',
 'course': 'AI',
 'Status': True,
 'email': 'fahad@gmail;.com'}

In [21]:
del student1['roll']

In [22]:
student1

{'name': 'Fahad', 'course': 'AI', 'Status': True, 'email': 'fahad@gmail;.com'}

In [23]:
for a  in student1:
    print(a)

name
course
Status
email

In [24]:
for key in student1:
    print(student1[key])

Fahad
AI
True
fahad@gmail;.com

In [25]:
for key in student1.keys():
    print(key)

name
course
Status
email

In [27]:
for key in student1.keys():
    print(student1[key])

Fahad
AI
True
fahad@gmail;.com

In [28]:
for value in student1.values():
    print(value)

Fahad
AI
True
fahad@gmail;.com

In [29]:
for k,v in student1.items():
    print(k,v)

name Fahad
course AI
Status True
email fahad@gmail;.com

# Paking or unpacking

In [31]:
alist = [22,33]
#packing

In [32]:
asad,fahad = alist
#unpack

In [33]:
asad

22

In [34]:
fahad

33

In [35]:
a =100, 200

In [36]:
a

(100, 200)

In [41]:
q = a

In [38]:
q

100

In [39]:
w

200

In [40]:
for a  in student1.items():
    print(a)

('name', 'Fahad')
('course', 'AI')
('Status', True)
('email', 'fahad@gmail;.com')