# Loops
- for loop
- while loop

In [24]:
students = ["Asad","Ali","Daad","Hassan"]

In [25]:
for student in students:
    print(student.lower())

asad
ali
daad
hassan

In [26]:
for char in "pakistan":
    print(char.upper())

P
A
K
I
S
T
A
N

In [27]:
for num in 5001:
    print(num)

TypeError: 'int' object is not iterable

In [28]:
for a in range(5):
    print(a,"Hello")

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello

In [29]:
for a in range(1,5):
    print(a,"Python")

1 Python
2 Python
3 Python
4 Python

In [30]:
for a in range(1,20,2):
    print(a)

1
3
5
7
9
11
13
15
17
19

In [31]:
for a in range(2,20,2):
    print(a)

2
4
6
8
10
12
14
16
18

In [32]:
for a in range(10,0,-1):
    print(a)

10
9
8
7
6
5
4
3
2
1

# Break , Continue

In [33]:
for a in range(5):
    if a==3:
        break
    print(a)

0
1
2

In [34]:
for a in range(5):
    if a==3:
        continue
    print(a)

0
1
2
4

In [35]:
students

['Asad', 'Ali', 'Daad', 'Hassan']

In [41]:
for student in students:
    if student.endswith("i"):
        break
    print(student.lower())

asad

In [43]:
for student in students:#iterate
    if student.endswith("i"):
        continue
    print(student.lower())

asad
daad
hassan

In [44]:
for a in range(0,10):
    if a%7==0:
        continue
    print(a)

1
2
3
4
5
6
8
9

In [45]:
for a in range(0,10):
    if a%7==0:
        continue
    print(a)

1
2
3
4
5
6
8
9

In [46]:
for a in range(5):
    if a==3:
        break
    print(a)

0
1
2

In [48]:
odd = []
for num in range(1,21):
    if num%2!=0:
        odd.append(num)
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [1]:
even = []
for num in range(0,21):
    if num%2==0:
        even.append(num)
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# List Comprehension

In [2]:
[a for a in range(1,31) if a%2!=0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [3]:
[a for a in range(1,21) if a%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
# Write a program that takes 5 values from user and classify them as odds and even in odds and evens list 

odd = []
even = []

for a in range(5):
    num = int(input("Enter Number: "))
    
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
print(f"Even Number{even} and Odd Number {odd}")

Enter Number: 23
Enter Number: 53
Enter Number: 45
Enter Number: 64
Enter Number: 223
Even Number[64] and Odd Number [23, 53, 45, 223]

In [7]:
for a in range(5):
    number = int(input("Enter Number "))
    if number%2==0:
        print(f"{number} is Even")
    else:
        print(f"{number} is Odd")

Enter Number 1
1 is Odd
Enter Number 3
3 is Odd
Enter Number 4
4 is Even
Enter Number 2
2 is Even
Enter Number 6
6 is Even

# Writing if else together in list comprehension

In [8]:
[print(f"{a} is Even")if a%2==0 else print(f"{a} is Odd") for a in range(1,21)]

1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
7 is Odd
8 is Even
9 is Odd
10 is Even
11 is Odd
12 is Even
13 is Odd
14 is Even
15 is Odd
16 is Even
17 is Odd
18 is Even
19 is Odd
20 is Even

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [9]:
fruits = ['mango' if a%3==0 else 'orange' for a in range(10)]
print(fruits)

['mango', 'orange', 'orange', 'mango', 'orange', 'orange', 'mango', 'orange', 'orange', 'mango']

# Write a program that takes any number of values from user and classify them as odds and even in odds and evens list

In [13]:
odd = []
even = []

nums = input("Enter a number ").split(',')
for num in nums:
        
        num = int(num)
        if num%2==0:
            even.append(num)
        else:
            odd.append(num)
print(even,odd)

Enter a number 1,2,3,4,5,6,7,8,9
[2, 4, 6, 8] [1, 3, 5, 7, 9]

In [14]:
even,odd

([2, 4, 6, 8], [1, 3, 5, 7, 9])

In [15]:
nums = input().split(',')

1,2,3,4,5,6,7,8,9

In [16]:
type(nums)

list

In [17]:
nums

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [18]:
"Pakistan".split("a")

['P', 'kist', 'n']

In [21]:
nums = input().split(",")
for a in nums:
    a = int(a)
print(a)

1,2,3,4,5,5
5

# While loop

In [23]:
a = 0
while a<10:
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9

In [24]:
a = 10
while a>0:
    print(a)
    a-=1

10
9
8
7
6
5
4
3
2
1

In [25]:
guestList = []
flag = True
while flag:
    guestName = input("Enter a guest name or press q to exit")
    if guestName == 'q':
        flag = False
    else:
        guestList.append(guestName)
guestList

Enter a guest name or press q to exitNasrullah
Enter a guest name or press q to exitkhan
Enter a guest name or press q to exitHassan
Enter a guest name or press q to exitOmer
Enter a guest name or press q to exitqasin
Enter a guest name or press q to exitq

['Nasrullah', 'khan', 'Hassan', 'Omer', 'qasin']

# Dictionary

In [3]:
alist = []
atuple = ()
aset = {2}
adict = {"Name":"SSUET"}

In [4]:
type(aset),type(adict)

(set, dict)

In [5]:
student1 = {"roll":209, "name":"Nasrullah","course":"AI","Status":True}

In [7]:
student1["name"]

'Nasrullah'

In [8]:
student1["course"]

'AI'

In [9]:
student1["Email"]= "nasrullah@gmail.com"

In [10]:
student1

{'roll': 209,
 'name': 'Nasrullah',
 'course': 'AI',
 'Status': True,
 'Email': 'nasrullah@gmail.com'}

In [11]:
del student1["roll"]

In [12]:
student1

{'name': 'Nasrullah',
 'course': 'AI',
 'Status': True,
 'Email': 'nasrullah@gmail.com'}

In [13]:
for a in student1:
    print(a)

name
course
Status
Email

In [15]:
for key in student1:
    print(student1[key])

Nasrullah
AI
True
nasrullah@gmail.com

In [16]:
for key in student1.keys():
    print(key)

name
course
Status
Email

In [17]:
for key in student1.keys():
    print(student1[key])

Nasrullah
AI
True
nasrullah@gmail.com

In [19]:
for value in student1.values():
    print(value)

Nasrullah
AI
True
nasrullah@gmail.com

In [20]:
for k,v in student1.items():
    print(k,v)

name Nasrullah
course AI
Status True
Email nasrullah@gmail.com

# Paking or unpacking

In [21]:
alist = [22,33]

In [22]:
asad,fahad = alist

In [23]:
asad

22

In [24]:
fahad

33

In [31]:
a =100, 200

In [32]:
a

(100, 200)

In [33]:
q = a

In [34]:
q

(100, 200)

In [35]:
q

(100, 200)

In [36]:
q

(100, 200)

In [38]:
for a in student1.items():
    print(a)

('name', 'Nasrullah')
('course', 'AI')
('Status', True)
('Email', 'nasrullah@gmail.com')