# Functions

In [2]:
# defintion
# call
#result

def nameUpper():
    username = input("Please tell me your Name ")
    username = username.upper()
    print(username)

In [4]:
#function call 
nameUpper()

Please tell me your Name nasrullah
NASRULLAH

In [5]:
#parameterless function
def calcSquare():
    a = 10
    sq = 10**2
    print(sq)

In [6]:
calcSquare()

100

In [7]:
def calcSquare(val):
    sq = val**2
    print(sq)

In [9]:
calcSquare(9)

81

In [10]:
# signature must be matched to call function
calcSquare(9,1)

TypeError: calcSquare() takes 1 positional argument but 2 were given

In [11]:
# Argument is valid but functionality is not supporting
# the argument
calcSquare("Hello")

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

# How to get result/value back from function
 - local variable : a variable defined inside a function is local
 -Local variable can not be used outside the function body

# Global Variable: 
 - All variable defined outside functuon are global variables and can be accessed inside in outise function

In [12]:
def clacSquare(val): #parameterized function
    sq = val**2 # sq is local variable
    print(sq)

In [13]:
calcSquare(5)
# our function is printing the squarer of the given argument

25

# If we want to recover the value from function:Â¶
- define a global vairbble 
- use a return keyword

In [18]:
def calcSquare(val): # Parameterized function 
    sq = val**2 # local variable

In [19]:
print(calcSquare(25))

None

In [20]:
result = clacSquare(24)
print(result)

576
None

In [13]:
def calcSquare(val): # Parameterized function 
    square = val**2 # local variable
    return square
    print("I am after return") # this line will never be executed

In [14]:
result = calcSquare(3)

In [15]:
print(result)

9

In [16]:
name = "Nasrullah"

In [17]:
name

'Nasrullah'

In [18]:
def areaoftriangle(l,h):
    area = l*h*0.5
    return area,l,h

In [20]:
area,l,h = areaoftriangle(5,6)

In [21]:
print(f"the area of triangle with length {l} and height {h} is {area} sq.m")

the area of triangle with length 5 and height 6 is 15.0 sq.m

In [22]:
a = areaoftriangle(10,15)
a

(75.0, 10, 15)

In [23]:
area , length , width = a

In [24]:
length

10

In [25]:
areaoftriangle(h=23,l=9)# key word argument

(103.5, 9, 23)

# Defualt Parameter

In [26]:
print("Pakistan")

Pakistan

In [28]:
def salaryCalculator(basic , allounce , perBonus=0):
    gross = basic + allounce + perBonus
    return gross

In [29]:
salaryCalculator(50000,12000,10000)

72000

In [30]:
salaryCalculator(23000,4000)

27000