In [1]:
name = input("Enter your name: ")

Enter your name: Nasrullah

In [2]:
print(name)
print(type(name))

Nasrullah
<class 'str'>

In [3]:
age = input("Tell me your age: ")
print(age)
print(type(age))

Tell me your age: 22
22
<class 'str'>

In [5]:
age = int(input("Tell me your age: "))
print(age)
print(type(age))

Tell me your age: 20
20
<class 'int'>

# more than one input

In [8]:
asad,usman = input("Tell me your age: ").split(',')

Tell me your age: 22,21

In [9]:
print(asad)

22

In [10]:
print(usman)

21

In [16]:
print(f"""
the age of usman is {usman}
the age of asad is {asad}

""")

the age of usman is 21
the age of asad is 22

In [13]:
asad

'22'

In [17]:
type(100)

int

In [19]:
(type("500"))

str

# type casting
- changing the data type of a value to another data type is called typecasting

In [1]:
type(100)

int

In [2]:
type(str(100))

str

In [4]:
type(int("500"))

int

In [5]:
type(int("Nasr"))

ValueError: invalid literal for int() with base 10: 'Nasr'

In [6]:
type("Nasr")

str

In [7]:
int("asad")

ValueError: invalid literal for int() with base 10: 'asad'

# String
- Python has a string class
- Every String created in python is an object og string class
- Every string has all the string functions of string class

In [8]:
country = "Pakistan"

In [9]:
country.lower()

'pakistan'

In [10]:
country.upper()

'PAKISTAN'

In [11]:
country.title()

'Pakistan'

In [12]:
sentence = "hi, welcome to python word"

In [15]:
sentence.capitalize()

'Hi, welcome to python word'

In [17]:
sentence.count('p')

1

In [18]:
sentence.endswith('ld')

False

In [19]:
sentence.startswith("h")

True

In [21]:
sentence.find("w")

4

In [24]:
text = "Hello my friends"

In [25]:
text[3]

'l'

In [26]:
text[-4]

'e'

In [27]:
text

'Hello my friends'

In [28]:
text.find("e")

1

In [29]:
text.find("e",2)

12

In [31]:
text.index("y")

7

In [32]:
text.isalnum()

False

In [33]:
text.isalpha()

False

In [34]:
text.isascii()

True

In [36]:
chr(78)

'N'

# Conacatenation
- joining two or more strings together is called concatenation

In [37]:
first_name = "Nasrullah"
last_name = "Khan"

In [42]:
print("Name: "+first_name+" "+last_name+"\n Age: "+str(22))

Name: Nasrullah Khan
 Age: 22

In [56]:
userName = input("Enter your Name ")
userAge = int(input("Enter your Age "))
print("User Name is " + userName + " and Age is " + str(userAge))

Enter your Name Nasrullah
Enter your Age 222
User Name is Nasrullah and Age is 222

In [57]:
after_ten_year = userAge + 10

In [59]:
after_ten_year

232

In [61]:
userName = input("Enter your Name ")
userAge = int(input("Enter your Age "))
print("user Name is {} and age is {} ".format(userName,userAge))

Enter your Name Nasrullah
Enter your Age 22
user Name is Nasrullah and age is 22

In [62]:
print("User Name is {0} and Age is {1} ".format("Nasrullah",22))

User Name is Nasrullah and Age is 22

In [65]:
print("User Name is {1} and Age is {0}".format("Nasrullah",22))

User Name is 22 and Age is Nasrullah

In [66]:
print("User Name is {0} and Age is {1} {0}".format("Nasrullah",22))

User Name is Nasrullah and Age is 22 Nasrullah

# f- method

In [67]:
name = input("Enter Name ")
age = int(input("Enger Age "))
f"User Name is {name} and user Age is {age}"

Enter Name Nasrullah
Enger Age 22

'User Name is Nasrullah and user Age is 22'

# Multiple line strings

In [3]:
print("I am learning python. \n and we are in karachi")

I am learning python.
 and we are in karachi

In [4]:
a_single_quote_Stirng_value = 'I am single quote string value'

In [5]:
double_quote_string_value = "I am double quote string value"

In [6]:
a_triple_quote_string_value = '''i am a triple quote string value'''

In [7]:
triple_double_quote_string_value = """i am a triple double quote string vlue"""

In [8]:
name = input("Enter your Name")
father = input("Enter your Father Name")
course = input("Enter your course Name")
batch = int(input("Enter your batch"))
center = input("Enter your center")

Enter your Namenasrullah
Enter your Father NameMakhawar khan
Enter your course NameAI
Enter your batch2022
Enter your centerSir syed university

In [11]:
print(f"""
    ID Card
Name   : {name}
Father : {father}
Course : {course}
Batch  : {batch}
Center : {center}


""")

    ID Card
Name   : nasrullah
Father : Makhawar khan
Course : AI
Batch  : 2022
Center : Sir syed university